body {
    font-family: Arial, sans-serif;
    background:white;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #000dff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}